.custom-button {
    display: flex;
    align-items: center;
    /* Другие стили по умолчанию */
  }
  
  .custom-button span {
    /* Применяем размеры текста к всем вложенным span */
    font-size: 0.9em; /* Например, делаем шрифт на 10% меньше */
  }
  
  /* Если нужно, меняем размер иконки в зависимости от параметра iconSize */
  .custom-button svg {
    width: 20px; /* Например, устанавливаем фиксированный размер для иконок */
    height: 20px;
  }